replicaCount: 1

env:
  JAVA_OPTS: "-Xms256m -Xmx512m -Djava.security.egd=file:/dev/./urandom"
  LOG_LEVEL: "INFO"

resources:
  limits:
    memory: 1Gi
  requests:
    cpu: "250m"
    memory: 512Mi

ui:
  replicaCount: 1

  ingress:
    enabled: true
    className: nginx
    hosts:
      - host: cruise-control.k8s.orb.local
        paths:
          - path: /
            pathType: Prefix

  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: "100m"
      memory: 128Mi

  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

clusters:
  cluster-dev:
    group: "develop"
    cluster:
      min.insync.replicas: 1
      default.replication.factor: 1
    config:
      bootstrap.servers: "my-cluster-kafka-bootstrap.kafka:9092"
      client.id: "cruise-control-dev"
      kafka.broker.failure.detection.enable: true
      zookeeper.connect: false
      self.healing.target.topic.replication.factor: 1
      sample.store.topic.replication.factor: 1
  cluster-prod:
    group: "production"
    cluster:
      min.insync.replicas: 1
      default.replication.factor: 1
    config:
      bootstrap.servers: "my-cluster-kafka-bootstrap.kafka-prod:9092"
      client.id: "cruise-control"
      kafka.broker.failure.detection.enable: true
      zookeeper.connect: false
      self.healing.target.topic.replication.factor: 1
      sample.store.topic.replication.factor: 1
