{{- range $.Values.configMaps }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cruise-control.fullname" $ }}-{{ .name }}
  labels:
    {{- include "cruise-control.labels" $ | nindent 4 }}
data:
  {{- range $key, $value := .data }}
  {{- if regexMatch "\n" $value }}
  {{ $key }}: |
    {{ $value | nindent 4 | trim }}
  {{- else }}
  {{ $key }}: {{ $value }}
  {{- end }}
  {{- end }}
{{- end }}
{{- range $clusterName, $clusterConfig := .Values.clusters }}
{{- $mergedConfig := include "cruise-control.cluster.config" (dict "clusterName" $clusterName "clusterConfig" $clusterConfig "root" $) | fromJson }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cruise-control.cluster.fullname" (dict "clusterName" $clusterName "root" $) }}-config
  labels:
    {{- include "cruise-control.cluster.labels" (dict "clusterName" $clusterName "root" $) | nindent 4 }}
data:
  cruisecontrol.properties: |
    {{- range $key, $value := $mergedConfig.config }}
      {{- $valueStr := printf "%v" $value }}
      {{- if and (regexMatch "^[0-9]+$" $valueStr) (lt (len $valueStr) 10) }}
        {{ $key }}={{ $valueStr }}
      {{- else if regexMatch "^[0-9]+\\.[0-9]+$" $valueStr }}
        {{ $key }}={{ printf "%.1f" $value }}
      {{- else if eq (typeOf $value) "float64" }}
        {{ $key }}={{ $value | int64 }}
      {{- else if eq (typeOf $value) "[]interface {}" }}
        {{ $key }}={{ $value | join "," }}
      {{- else }}
        {{ $key }}={{ $value }}
      {{- end }}
    {{- end }}
        capacity.config.file=config/{{ $mergedConfig.capacity.type }}.json

  clusterConfigs.json: |
    {{- $mergedConfig.cluster | toPrettyJson | nindent 4 }}

  {{- if $mergedConfig.capacity }}
  {{ $mergedConfig.capacity.type }}.json: |
    {{- $mergedConfig.capacity.config | nindent 4 }}
  {{- end }}

  {{- if $mergedConfig.jaas.enabled }}
  cruise_control_jaas.conf: |
    {{- $mergedConfig.jaas.config | nindent 4 }}
  {{- end }}

  log4j.properties: |
    {{- range $key, $value := $mergedConfig.log4j }}
      {{ $key }}={{ $value }}
    {{- end }}
{{- end }}
